<a href="https://colab.research.google.com/github/divyaditya12/Pythonlab63/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Illustrate the examples of list comprehensionin python

Print square of natural numbers from 1 to 10

In [ ]:

for i in range(1, 11):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

Count number of 6's between 1 to 1000

In [ ]:
count = sum(str(i).count('6') for i in range(1, 1001))
print("The number of sixes between 1 and 1000 is:", count)

count number of spaces in a string

In [ ]:
def check_space(string):
  
  
  count = 0
  

  for i in range(0, len(string)):
    
    
    if string[i] == " ":
      count += 1
    
  return count


string = "my name   is   Divyaditya "


print("number of spaces ",check_space(string))

Print table of 5

In [ ]:
num = 5


for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Find numbers between 1 to 1000 divisible by 2 and 5

In [ ]:
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if((i%2==0) & (i%5==0)):
      print(i)

Enter lower range limit:1
Enter upper range limit:10
10